body {
	background-image: url('http://img0.gtsstatic.com/wallpapers/f2a7556fcd9d8bb6b0275f8aea7b444f_large.jpeg');
	/*background-color: orange;*/
}

#navbar{
	position: fixed;
	top: 10px;
	left: 50%;
	margin-left: -245px;
}

#header{
	position: relative;
	top: -10px;
	background-color: #3c4543;
}

ul{
	position: fixed;
	 margin-top: 265px;
	 margin-left: -40px;
}

li{
	display: inline;
	font-family: 'Roboto Slab', serif;
	color: #004CA4;
	padding: 25px;
	background-color: white;
	border-radius: 5px;
	opacity: 0.9;
	/*-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid black;
	color:black;
	background-color: #00FFF2;
	font-family: 'Playfair Display', serif;
	@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);
	font-family: 'Roboto Slab', serif;
	@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
	font-family: 'Slabo 27px', serif;
	*/
}
